/* CSS Tela Filme Único */

article {
    display: flex;
}

figure {
    width: 260px;
    height: 380px;
    margin-right: 15px;
    cursor: initial;
    flex-shrink: 0;
}

.caixaArtigo {
    flex-grow: 1;
}

.caixaArtigo header {
    height: 60px;
}

h1, span {
    font-weight: 500;
    color: #E59122;
}

span, .generosFilme li {
    margin-right: 15px;
}

.generosFilme {
    margin: 15px 0px;
    align-items: flex-end;
}

.generosFilme li::before {
    content: "•";
    color: #E59122;
    font: inherit;
    margin-right: 3px;
}

figure img {
    cursor: initial;
}

.avaliacao {
    height: 50px;
    width: 50px;
    border-radius: 100px;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    font-size: 20px;
    color: #E59122;
}

.caixaArtigo p {
    text-align: justify;
    line-height: 1.25;
}

.caixaAlinhar {
    display: flex;
    align-items: center;
}